:root {
    --text: #fcfcfc;
    --background: #1a268f;
    --primary: #1a268f;
    --secondary: #1a268f;
    --accent: #1a268f;

}


body {
    background-color: var(--accent);
    display: grid;
    grid-template-columns: 20% auto 20%;
    grid-template-rows: auto;
    grid-template-rows: auto;
    grid-template-areas:
        "nav nav nav"
        "header header header"
        "main main main"
        "aside aside aside"
    ;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    grid-area: header;
}

main {
    grid-area: main;

}

nav {
    grid-area: nav;
}

aside {
    grid-area: aside;
}

nav ul {
    list-style: none;
    background-color: rgb(236, 225, 20);
    font-size: 200%;
    display: flex;
    justify-content: space-around;
    align-content: center;


}

header h1 {
    margin-left: 40%;
    margin-top: 2.2%;
    font-size: 200%;
    font-style: inherit;
    color: azure;
}

header h3 {
    scroll-margin-block-start: 40%;
    margin-top: 1.5%;
    margin-inline: 15.5em;
    color: azure;
}

main img {
    margin-left: 5%;
    width: 20%;
    margin-top: 4em;
    border-radius: 100%;
    margin-inline: 37%;
}

.asidebars {

    margin-top: 6%;
    align-content: space-around;
    display: flex;
    justify-content: space-around;
    background-color: hsl(60, 90%, 45%);
    align-content: center;
    font-size: 200%;
}

/* STYLES PROJECT PAGE*/

main h1 {
    color: rgb(249, 249, 249);
}

.project-base {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    margin: 1.6em;
    gap: 0.9em;
    margin-left: 1em;
    margin-bottom: 0.1%;


}

.floors{
    background-color: rgb(236, 225, 20);
    padding: 2em;
    margin-top: 6%;
}


main h3 {
    margin-left: 36%;
    margin-bottom: 2emem;
    margin-top: 2em;
    margin-right: 8%;
    color: azure;
    font-size: 135%;

}

/*STYLING CONTACT PAGE*/

h6{
    margin-left: 21em;
    margin-top: 2em;
    font-size: 160%;
    color: azure;
}


form {
    background-color: rgb(236, 225, 20);
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
    row-gap: 0.8em;
    width: 30em;

    padding-bottom: 3em;
    padding-left: 4em;
    padding-right: 3em;
    padding-top: 2em;
    justify-content: center;
    margin-left: 32em;
    margin-top: 3em;
}

input[type="submit"] {
    grid-column: 2;
}

.animation {
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: auto;
    justify-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -100;
    pointer-events: none;
    width: 100%;
    height: 100vh;
    overflow: hidden;


}

.animation p {
    font-size: 0.9em;
    font-weight: bold;
    color: rgba(red, green, blue, alpha);
    animation: move 11s linear infinite;
}

@keyframes move {
    0% {
        transform: translate(0, 100%);
    }

    100% {
        transform: translate(0, -100%);
    }
}

/*STYLING REPORT PAGE*/
.site{
    display: grid;
    grid-template-columns: 50%50%;
    grid-template-rows: auto;
    margin-left: 30em;
    margin-bottom: 2%;
    margin-top: 2%;

}

.report{
    background-color: rgb(236, 225, 20);
    padding: 2em;
    margin-top: 6%;
}

