:root {
    --text: #fcfcfc;
    --background: #1a268f;
    --primary: #1a268f;
    --secondary: #1a268f;
    --accent: #1a268f;

}


body {
    background-color: var(--accent);
    display: grid;
    grid-template-columns: 20% auto 20%;
    grid-template-rows: auto;
    grid-template-rows: auto;
    grid-template-areas:
        "nav nav nav"
        "header header header"
        "main main main"
        "aside aside aside"
    ;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    grid-area: header;
}

main {
    grid-area: main;

}

nav {
    grid-area: nav;
}

aside {
    grid-area: aside;
}

nav ul {
    list-style: none;
    background-color: rgb(236, 225, 20);
    font-size: 200%;
    display: flex;
    justify-content: space-around;
    align-content: center;


}

header h1 {
    margin-left: 40%;
    margin-top: 2.2%;
    font-size: 200%;
    font-style: inherit;
}

header h3 {
    scroll-margin-block-start: 40%;
    margin-top: 1.5%;
    margin-inline: 15.5em;
    margin
}

main img {
    margin-left: 5%;
    width: 20%;
    margin-top: 4em;
    border-radius: 100%;
    margin-inline: 37%;
}

.asidebars {

    margin-top: 5%;
    align-content: space-around;
    display: flex;
    justify-content: space-around;
    background-color: hsl(62, 95%, 48%);
    align-content: center;
    font-size: 200%;
    margin-top: 1.1%;
    margin-bottom: 7em;
}

/* STYLES PROJECT PAGE*/

main h1{
    color: rgb(249, 249, 249);
}

.project-base{
   display: grid;
   grid-template-columns: 50% 50%;
   grid-template-rows:auto ;
   margin: 2em;
   gap: 1em;
  

}

.floors{
    background-color: bisque;
    padding: 2em;
}

main h3 {
    margin-left: 50%;
    margin-bottom: 4em;
    margin-top: 4em;
}

/*STYLING CONTACT PAGE*/
form {
    background-color:beige;
    display: grid;
    grid-template-columns:50% 50% ;
    align-items: center;
    row-gap: 0.7em;
    width: 30em;
    
    padding-bottom: 3em;
    padding-left: 4em;
    padding-right: 3em;
    padding-top: 2em;
    justify-content: center;
    margin-left: 15em;
    margin-top: 2em;
}

input[type="submit"]{
    grid-column: 2;
}

.animation{
    display: grid;
    grid-template-columns: repeat(20,1fr);
    grid-template-rows: auto;
    justify-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    pointer-events: none;
    width: 100%;
    overflow: hidden;
    
}
.animation p{
    font-size: 3em;
    font-weight: bold;
    color: rgba(red, green, blue, alpha);
    animation: move 5s linear infinite;
}

@animation move {
    0%{
        transform: translate(0,100%) :
    }
}